%h1 Edit Existing Course

= form_tag course_path(@course), :method => :put do

  = label :course, :abbrev, 'abbrev'
  = text_field :course, 'abbrev'

  = label :course, :name, 'name'
  = text_field :course, 'name'

  = label :course, :crn, 'crn'
  = text_field :course, 'crn'

  = submit_tag 'Update Course Info'